# vim: ft=systemd

[Unit]
Description=YouTube email notification system

[Service]
User=1000
Group=1000
WorkingDirectory=/opt/bbyen/
Environment="NODE_ENV=production"
ExecStart=$BBYEN_NPM_BIN start

[Install]
WantedBy=multi-user.target
